
#cuf_general ul{
overflow:hidden; /*Clearing float. */
      border-right:1px solid #fff;
      height:35px;
 
 }
 #cuf_general li{
      float:left;
      list-style:none;
 }
 #cuf_general li a{
      background:#ddd;
      border:1px solid #fcfcfc;
      border-right:0;
      color:#666;
      cursor:pointer;
      display:block;
      height:35px;
      line-height:35px;
      padding:0 30px;
      text-decoration:none;
      text-transform:uppercase;
 }
 #cuf_general li a:hover{
      background:#eee;
 }
 #cuf_general li a.active{
      background:#fbfbfb;
      border:1px solid #fff;
      border-right:0;
      color:#333;
 }
 